.nav {
  display: flex;
  justify-content: center;
  background-color: #2f3136;
}

.nav-links {
  list-style: none;
  display: flex;
}

li {
  padding: 5px 10px;
  margin: 0 10px;
}

.link {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;

  &.active {
    color: #cf0a49;
  }
}